# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
*.synctex(busy)
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb
*.xdv

# Compiled output
*.pdf


template/tmp-pdfcrop-13964.tex
template/*.ini
template/*.aux
template/*.lof
template/*.log
template/*.lot
template/*.fls
template/*.out
template/*.toc
template/*.eoc
template/*.fmt
template/*.fot
template/*.cb
template/*.cb2
template/*.tce
template/.*.lb
template/*.dvi
template/*.xdv
template/*-converted-to.*
template/*.bbl
template/*.bcf
template/*.blg
template/*-blx.aux
template/*-blx.bib
template/*.run.xml
template/*.fdb_latexmk
template/*.synctex
template/*.synctex(busy)
template/*.synctex.gz
template/*.synctex.gz(busy)
template/*.pdfsync
template/Temp/*
template/simkai.ttf